.card-list {
  margin: 30px 50px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}
.card-item {
  margin: 0 auto;
  background-color: #ffffff4d;
  width: 200px;
  height: 280px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  &:hover {
    box-shadow: 9px 9px 48px 7px rgba(111, 216, 19, 0.81);
  }
}

.container-notFound {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000080;
  margin-top: 30px;
}
.container-notFound-title {
  color: white;
  margin-bottom: 30px;
}
.container-notFound__img {
  width: 400px;
  border-radius: 50%;
}
.container-notFound__text {
  margin-top: 20px;
  color: white;
}
