.link{
    text-decoration:none;
    color: black;
}

.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.card__img{
    width:140px;
    margin-top: 15px;
    border-radius: 15px;
}
.card__title{
    margin-top:10px;
    text-align: center;
    color: white;
}
.card__description{
    width:auto;
    margin-top: 20px;
    font-size:14px;
    
    padding:4px;
    border-radius: 10px;
}
.card-detail__specie{
    width:35px;
}