.linkGoBack{
    text-decoration:none;
    color: white;
}
.card-detail{
    width:100%;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #00000080;
}
.card-detail__title{
    color: white;
}
.card-detail__img{
    width: 200px;
}