.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.card__img{
    width:140px;
    margin-top: 5px;
    border-radius: 15px;
}
.card__title{
    margin-top:10px;
    text-align: center;
}
.card__description{
    width:auto;
    margin-top: 20px;
    font-size:14px;
    background-color:greenyellow;
    padding:4px;
    border-radius: 10px;
}
