.card-detail {
  margin: 0 auto;
  width: 60%;
  min-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00ffff80;
  border-radius: 30px;
  margin-bottom: 70px;
}
.linkGoBack {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  width:100%;
}
.exitIcon{
    width:60px;
}
.card-detail__title {
  
  color: white;
}
.card-detail__content {
  margin: 30px 20px 0;
  display: flex;
  flex-direction: row;
  
}
.card-detail__img {
  width: 200px;
  border-radius: 30px;
}
.card-detail__info {
    color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
