.form{
    height:100px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.form__input-text{
    height: 40px;
    width: 250px;
    background-color: black;
    color:white;
    border: 2px solid aqua;
    padding:10px;
    margin-right: 10px;
}