// core

@import './core.scss';
@import './main.scss';
@import './header.scss';
@import './form.scss';
@import './characterList.scss';
@import './character.scss';
@import './footer.scss';

// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
